{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maze Runner</title>
    <link rel="stylesheet" href="{% static 'styleh.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Maze Runner</h1>
      <p class="subheading">by Harshika and Muhammad Olaniyan (Team 1)</p>
      <div class="content">
        <div class="instructions">
          <h2>Instructions</h2>
          <p>1. Stay inside the maze boundaries.</p>
          <p>2. Reach the finish checkpoint as fast as possible.</p>
          <p>3. Avoid collisions with maze walls.</p>
          <p>4. Have fun and play fair!</p>
        </div>
      </div>
      <form action="http://127.0.0.1:8000/game1/">
        <input
          type="submit"
          value="Start"
          style="
            height: 80px;
            width: 160px;
            font-size: 60px;
            font-style: italic;
            background-color: yellow;
          "
        />
      </form>
    </div>
  </body>
</html>
