{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maze</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <script src="{% static 'Stopwatch.js' %}"></script>
    <script>
      //  <!-- checking if stopwatch is loaded and created before using it -->
      document.addEventListener("DOMContentLoaded", function () {
        if (typeof Stopwatch !== "undefined") {
          window.stopwatch = new Stopwatch("stopwatch");
        } else {
          console.error("Stopwatch.js failed to load.");
        }
      });
    </script>
    <div>
      <button
        id="leaderboard-button"
        style="
          float: right;
          height: 80px;
          width: 160px;

          font-style: italic;
          background-color: yellow;
        "
        onclick="leaderboard()"
      >
        Leaderboard
      </button>
      <button
        id="back_to_start-button"
        style="
          float: right;
          height: 80px;
          width: 160px;
          font-size: 20px;
          font-style: italic;
          background-color: yellow;
        "
        onclick="startpage()"
      >
        back
      </button>
      <script>
        function leaderboard() {
          window.location.href = "/leaderboard/";
        }
        function startpage() {
          window.location.href = "/start/";
        }
      </script>
    </div>
    <div class="stopwatch">
      <div id="stopwatch">00 : 00 : 00.0</div>
      <br />

      <!-- <button onClick="stopwatch.start();">Start</button>
      <button onClick="stopwatch.stop();">Stop</button>
      <button onClick="stopwatch.reset();">Reset</button> -->

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          window.stopwatch = new Stopwatch("stopwatch"); // Make Stopwatch global for button access
        });
      </script>
    </div>

    <div id="page">
      <!-- <div id="Message-Container">Hello! Click the button to hide me.</div> -->

      <div id="Message-Container">
        <div id="message">
          <h1>Good Job!</h1>
          <p>Your are done.</p>
          <p id="moves"></p>
        </div>
      </div>
      <div>
        <h1 id="playername">Name</h1>
        <script>
          var x = localStorage.getItem("playerName");
          document.getElementById("playername").innerHTML =
            "😃 Welcome " + x + "! 😃";
        </script>
      </div>

      <div id="view">
        <div id="mazeContainer" style="margin-top: 160px">
          <canvas
            id="mazeCanvas"
            class="border"
            width="800"
            height="800"
          ></canvas>
        </div>
      </div>
      <br />
      <div id="menu">
        <div class="custom-select">
          <select id="diffSelect">
            <option value="0">Levels</option>
            <option value="5">Easy</option>
            <option value="10">Medium</option>
            <option value="15">Hard</option>
          </select>
        </div>
        <input id="startMazeBtn" type="button" value="Begin" />
      </div>
      <div>
        <!-- <button onclick="toggleVisibility('Message-Container')">Score</button> -->
        <input id="score" type="button" value="Score" />
      </div>

      <p id="instructions">
        Win the game by using the arrow keys to navigate to the end goal
      </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script src="{% static 'logic.js' %}"></script>
  </body>
</html>
