{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maze</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    
    
  </head>
  
  <body >
    <script src="{% static 'Stopwatch.js' %}"></script>
   <div class="stopwatch">
    <div id="stopwatch" style="font-size: 28px; display: inline-block;">
      00 : 00 : 00.0</div>
      <br>

 <button onClick="stopwatch.start();">Start<button> 
<button onClick="stopwatch.stop();">Stop</button>
<button onClick="stopwatch.reset();">Reset</button>
   </div>

     <div id="page">

      <div id ="Message-Container">
      <div id="message">
        <h1>Good Job!</h1>
        <p> Your are done.</p>
        <p id="moves"></p>
        <input
          id="okBtn"
          type="button"
          onclick='toggleVisability("Message-Container")'
          value="wow!"
        />
      </div>
    </div> 

   

    <div id="view">
      <div id="maze Container">
        <canvas id="mazeCanvas" class="border" width='400' height="400"></canvas>
      </div>
    </div>
    <br> 
    <div id="menu">
      <div class="custom-select">
        <select id="diffSelect">
          <option value="0">Levels</option>
          <option value="5">Easy</option>
          <option value="10">Medium</option>
          <option value="15">Hard</option>
        </select>
      </div>
      <input
        id="startMazeBtn"
        type="button"
        onclick="makeMaze()"
        value="Begin"
      />
    </div>

    <p id="intructions">
      Win the game by using the arrow keys to naviagte to the end goal</p>
    

  </div>

  <script src="{% static 'logic.js' %}"></script>
 

  </body>
</html>
