body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-image: url("serenity.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
}
/* Style for the name input field */
#name-container {
  text-align: center;
  margin-top: 20px;
}

.name-input {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.name-input:focus {
  border-color: #007bff; /* Blue border when focused */
  outline: none; /* Remove outline on focus */
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px 20px;
}
h1 {
  font-size: 100px;
  margin-bottom: 10px;
}
.subheading {
  font-size: 60px;
  font-style: italic;
  margin-bottom: 50px;
}

.content {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.instructions {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}
.instructions h2 {
  font-size: 100%;
  color: black;
  font-weight: bold;
  font-style: italic;
  font-family: "Roboto Thin";
}
/*  */
